<template>
    <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="/">{{ appName }}</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Меню для администратора -->

            <div v-if="user && user.is_admin" class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Меню слева -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Пользователи<span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/users">Список пользователей</a>
                            <a class="dropdown-item" href="/admin/users/create">Добавить пользователя</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Автомобили<span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/cars">Список автомобилей</a>
                            <a class="dropdown-item" href="/admin/cars/create">Добавить автомобиль</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Автопарки<span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/parks">Список автопарков</a>
                            <a class="dropdown-item" href="/admin/parks/create">Добавить автопарк</a>
                        </div>
                    </li>
                </ul>

                <!-- Меню справа -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.name }}<span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" @click="logout">Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Меню для пользователя -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent" v-else-if="user">

                <!-- Меню слева -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Автомобили<span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/cars">Список автомобилей</a>
                            <a class="dropdown-item" href="/cars/create">Добавить автомобиль</a>
                        </div>
                    </li>
                </ul>

                <!-- Меню справа -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.name }}<span class="caret"></span></a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" @click="logout">Выйти</a>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Меню авторизации -->

            <div class="collapse navbar-collapse" id="navbarSupportedContent" v-else>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Авторизация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Регистрация</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        props: ['appName', 'userJson'],

        data () {
            return {
                user: JSON.parse(this.userJson),
            }
        },

        methods: {
            logout () {
                axios.post('/logout')
                    .finally(response => {
                        window.location.href = '/';
                    })
            }
        }
    }
</script>
