<style>
    .p10 {
        padding: 10px;
    }
</style>

<template>
    <div class="container">
        <form class="card p10" @submit.prevent="createUser">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Имя пользователя</label>
                        <input v-model="user.name" type="text" class="form-control" placeholder="Введите имя пользователя" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Email пользователя</label>
                        <input v-model="user.email" type="text" class="form-control" placeholder="Введите Email пользователя" required>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label>Пароль пользователя</label>
                        <input v-model="user.password" type="text" class="form-control" placeholder="Введите пароль пользователя" required>
                    </div>
                </div>
                <div class="col-12">
                    <span>Автомобили</span>
                    <select v-model="user.cars" class="form-control selectpicker" title="Выберите автомобили пользователя" data-live-search="true" multiple>
                        <option v-for="car in cars" :key="car.id" :value="car.id">
                            <span>{{ car.car_number }}</span>
                        </option>
                    </select>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input v-model="user.is_admin" type="checkbox" class="form-check-input">
                        <label class="form-check-label">Администратор</label>
                    </div>
                </div>

            </div>
            <input type="submit" class="btn btn-success mt-2" value="Добавить">
        </form>
    </div>
</template>

<script>
    export default {
        props: ['carsJson'],

        data () {
            return {
                cars: JSON.parse(this.carsJson),
                user: {
                    name: '',
                    email: '',
                    password: '',
                    is_admin: '',
                    cars: [],
                },
            }
        },

        methods: {
            createUser: function () {
                let validate = this.validateData();
                
                if (validate.ok) {
                    let formData = this.getFormData(validate.data);

                    axios.post('/api/admin/users', formData)
                        .then(response => {
                            if (response.status === 201) {
                                this.clearForm();
                            }
                        })
                        .catch(error => {
                            let msg = 'Произошла ошибка. Попробуйте, пожалуйста, еще раз';

                            if (error.response.status === 422) {
                                msg = this.getErrorMessage(error.response.data.errors);
                            }

                            alert(msg);
                        });
                } else {
                    alert(validate.error);
                }
            },

            validateData: function () {
                let validate = {
                    ok: true,
                    data: {
                        name: this.user.name.trim(),
                        email: this.user.email.trim(),
                        password: this.user.password,
                        is_admin: this.user.is_admin === true ? 1 : 0,
                        cars_selected: this.user.cars,
                    }
                }

                if (validate.data.name.length < 2) {
                    validate.ok = false;
                    validate.error = 'Имя пользователя не может содержать менее 2 символов';
                } else if (validate.data.email === '') {
                    validate.ok = false;
                    validate.error = 'Введите, пожалуйста, Email пользователя';
                } else if (validate.data.password.trim() === '') {
                    validate.ok = false;
                    validate.error = 'Введите, пожалуйста, пароль пользователя';
                }

                return validate;
            },

            getFormData (obj) {
                let formData = new FormData;

                Object.keys(obj).forEach(key => {
                    formData.append(key, obj[key])
                });

                return formData;
            },

            clearForm () {
                $('.selectpicker').selectpicker('val', '');
                this.user.name = '';
                this.user.email = '';
                this.user.password = '';
                this.user.is_admin = '';
                this.user.cars = [];
            },

            getErrorMessage (data) {
                let msg = '';

                for (let [key, value] of Object.entries(data)) {
                    msg += `${value}\n`;
                }

                return msg;
            },
        },
    }
</script>
