<style>
    .p10 {
        padding: 10px;
    }
</style>

<template>
    <div class="container">
        <form class="card p10" @submit.prevent="createCar">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Номер автомобиля</label>
                        <input v-model="car.number" type="text" class="form-control" placeholder="Введите номер автомобиля" required>
                    </div>
                </div>
                <div class="col-12">
                    <span>Автопарки</span>
                    <select v-model="car.parks" class="form-control selectpicker" title="Выберите автопарк" data-live-search="true" multiple>
                        <option v-for="park in parks" :key="park.id" :value="park.id">
                            <span>{{ park.name }}, {{ park.address }}</span>
                            <span v-if="park.schedule">, {{ park.schedule }}</span>
                        </option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-success mt-2" value="Добавить">
        </form>
    </div>
</template>

<script>
    export default {
        props: ['parksJson'],

        data () {
            return {
                parks: JSON.parse(this.parksJson),
                car: {
                    number: '',
                    parks: [],
                },
            }
        },

        methods: {
            createCar: function () {
                let validate = this.validateData();
                
                if (validate.ok) {
                    let formData = this.getFormData(validate.data);

                    axios.post('/api/user/cars', formData)
                        .then(response => {
                            if (response.status === 201) {
                                this.clearForm();
                            }
                        })
                        .catch(error => {
                            let msg = 'Произошла ошибка. Попробуйте, пожалуйста, еще раз';

                            if (error.response.status === 422) {
                                msg = this.getErrorMessage(error.response.data.errors);
                            }

                            alert(msg);
                        });
                } else {
                    alert(validate.error);
                }
            },

            validateData: function () {
                let validate = {
                    ok: true,
                    data: {
                        car_number: this.car.number.trim(),
                        parks_selected: this.car.parks,
                    }
                }

                if (validate.data.car_number.length < 6) {
                    validate.ok = false;
                    validate.error = 'Номер автомобиля не может содержать менее 6 символов';
                } else if (validate.data.car_number.length > 8) {
                    validate.ok = false;
                    validate.error = 'Номер автомобиля не может содержать более 8 символов';
                }

                return validate;
            },

            getFormData (obj) {
                let formData = new FormData;

                Object.keys(obj).forEach(key => {
                    formData.append(key, obj[key])
                });

                return formData;
            },

            clearForm () {
                $('.selectpicker').selectpicker('val', '');
                this.car.number = '';
                this.car.parks = [];
            },

            getErrorMessage (data) {
                let msg = '';

                for (let [key, value] of Object.entries(data)) {
                    msg += `${value}\n`;
                }

                return msg;
            },
        },
    }
</script>
