<style>
    .p10 {
        padding: 10px;
    }
</style>

<template>
    <div class="container">
        <form class="card p10" @submit.prevent="editCar">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label>Номер автомобиля</label>
                        <input v-model="car.number" type="text" class="form-control" placeholder="Введите номер автомобиля" required>
                    </div>
                </div>
                <div class="col-12">
                    <span>Автопарки</span>
                    <select v-model="parksSelected" class="form-control selectpicker" title="Выберите автопарк" data-live-search="true" multiple>
                        <option v-for="park in parks" :key="park.id" :value="park.id">
                            <span>{{ park.name }}, {{ park.address }}</span>
                            <span v-if="park.schedule">, {{ park.schedule }}</span>
                        </option>
                    </select>
                </div>
            </div>
            <input type="submit" class="btn btn-success mt-2" value="Сохранить">
        </form>
    </div>
</template>

<script>
    export default {
        props: ['carJson', 'parksJson'],

        data () {
            let car = JSON.parse(this.carJson);
            return {
                car: car,
                parks: JSON.parse(this.parksJson),
                parksSelected: car.parks.map(park => park.id),
            }
        },

        methods: {
            editCar () {
                let validate = this.validateData();

                if (validate.ok) {
                    axios.put(`/api/user/cars/${this.car.id}`, validate.data)
                        .then(response => {
                            if (response.status === 200) {
                                alert('Данные успешно обновлены');
                            }
                        })
                        .catch(error => {
                            alert('Произошла ошибка. Попробуйте, пожалуйста, еще раз');
                        });
                } else {
                    alert(validate.error);
                }
            },

            validateData: function () {
                let validate = {
                    ok: true,
                    data: {
                        car_number: this.car.number.trim(),
                        parks_selected: this.parksSelected,
                    },
                }

                if (validate.data.car_number.length < 6) {
                    validate.ok = false;
                    validate.error = 'Номер автомобиля не может содержать менее 6 символов';
                } else if (validate.data.car_number.length > 8) {
                    validate.ok = false;
                    validate.error = 'Номер автомобиля не может содержать более 8 символов';
                }

                return validate;
            },
        },
    }
</script>
