<template>
    <div>
        <div class="list-group-item">
            <div>Номер автомобиля: {{ car.number }}</div>

            <div v-if="car.users.length" class="list-group">
                <span>Водители:</span>
                <div v-for="user in car.users" :key="user.id" class="list-group-item">
                    <a :href="`/admin/users/${user.id}/edit`">{{ user.name }}</a>
                </div>
            </div>

            <div v-if="car.parks.length" class="list-group">
                <span>Автопарки:</span>
                <div v-for="park in car.parks" :key="park.id" class="list-group-item">
                    <a :href="`/admin/parks/${park.id}/edit`">{{ park.name }}</a>
                </div>
            </div>
        </div>
        <div class="list-group-item">
            <a :href="`/admin/cars/${car.id}/edit`" class="btn btn-primary">Редактировать</a>
            <a @click="deleteCar" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['car'],

        methods: {
            deleteCar () {
                axios.delete(`/api/admin/cars/${this.car.id}`)
                    .then(response => {
                        if (response.status === 204) {
                            this.$parent.getResults(this.$parent.cars.meta.current_page);
                        }
                    })
                    .catch(error => {
                        let msg = 'Произошла ошибка. Попробуйте, пожалуйста, еще раз';

                        if (error.response.status === 404) {
                            msg = 'Данный автомобиль не существует';
                        }

                        alert(msg);
                    });
            },
        },
    }
</script>