<template>
    <div class="container">
        <div v-for="car in cars.data" :key="car.id" class="list-group">
            <admin-car-card :car="car"></admin-car-card>
            <br />
        </div>

        <pagination :data="cars" @pagination-change-page="getResults"></pagination>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                cars: {},
            }
        },

        mounted() {
            this.getResults();
        },

        methods: {
            getResults(page = 1) {
                axios.get(`/api/admin/cars?page=${page}`)
                    .then(response => {
                        this.cars = response.data;
                    });
            },
        },
    }
</script>
