<template>
    <div class="container">
        <div v-for="park in parks.data" :key="park.id" class="list-group">
            <admin-park-card :park="park"></admin-park-card>
            <br />
        </div>

        <pagination :data="parks" @pagination-change-page="getResults"></pagination>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                parks: {},
            }
        },

        mounted() {
            this.getResults();
        },

        methods: {
            getResults(page = 1) {
                axios.get(`/api/admin/parks?page=${page}`)
                    .then(response => {
                        this.parks = response.data;
                    });
            },
        },
    }
</script>
